* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  display: flex;
  flex-direction: column;
}

.board {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-self: center;
}

.board > button {
  width: 5vw;
  height: 5vh;
  background-color: white;
  border: 1px solid black;
}

.header {
  display: flex;
  justify-content: center;
  gap: 1vw;
  margin: 5vh 0;
}
