* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  display: flex;
  flex-direction: column;
}

.changeName,
.restart {
  align-self: end;
  width: 10vw;
  border: none;
  margin-bottom: 1vh;
  padding: 0.5rem;
  background-color: #080747;
  color: white;
  font-weight: bold;
  &:hover{
    background-color: rgb(7, 7, 141);
    cursor: pointer;
  }
}

.board {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-self: center;
}

.board > button {
  width: 10vw;
  height: 10vh;
  background-color: white;
  border: 2px solid black;
  font-size: 4vh;
  &:hover{
    background-color: #eaecea;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  width: 30vw;
  height: 10vh;
  margin: 0 auto;
}

.header > div {
  width: 50%;
}

.header > div > p {
  text-align: center;
  font-weight: bold;
}

.header > div > p~p{
  height: 100%;
  font-size: min(6vh, 6vw);
}

.header > div:nth-child(1){
  border-right: 3px solid black;
}

.results {
  position: absolute;
  top: 50%;
  left: 35%;
  text-align: center;
  width: 30vw;
  height: 20vh;
  background-color: rgba(185, 146, 146, 0);
  border: none;
  font-size: min(5vh, 5vw);
  font-weight: bold;
}

div[active] {
  border: 2px solid black;
}
